body {
    background-image: url("https://i.pinimg.com/originals/ce/49/ad/ce49ad1b51dcbacd75188ede6a5fab4e.jpg");
}
.container {
    background-color: rgba(566, 566, 566, 0.7);
    max-width: 600px;
    padding: 30px;
    margin: 60px auto;
    border-radius: 20px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    font-family: "Nunito", sans-serif;
}
#heading {
    text-align: center;
    font-size: 48px;
    padding-bottom: 10px;
}
#select-cities {
    display: block;
    margin: 20px auto;
    width: 80%;
    padding: 10px;
    border-radius: 5px;
    font-size: 18px;
}
.city {
    display: flex;
    justify-content: space-between;
    margin: 20px;
    font-size: 20px;
}
h2 {
    margin: 0 0 5px;
}
#date {
    opacity: 0.7;
    font-size: 16px;
}
#time {
    font-size: 35px;
    font-weight: bold;
}
.small {
    font-size: 18px;
    vertical-align: middle;
}
footer {
    text-align: center;
    font-size: 16px;
}
